
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<img src="~/images/me.jpg" width="240px" height="240px"/>
<h4>Daryoosh Hoora</h4>
<p>A result driven professional with many years of comprehensive experience in developing systems and methods, providing solutions, and problem solving to achieve the project goals. Senior software engineer with high expertise in whole of software life-cycle phases.</p>
<p>Superb abilities in business/system analysis and designing business models and software architecture with full knowledge about software development, deployment platforms and having many years of operational experience in programming frameworks.</p>
