
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<div class="row row-cols-1">
    <div class="col ps-5 py-2">
        <i title="Email" class="fas fa-envelope-open border rounded-circle p-3"></i>
        <a class="nav-link d-inline-flex" href="mailto:daryoosh@hoora.info">daryoosh@hoora.info</a>
    </div>
    <div class="col ps-5 py-2">
        <i title="Linkedin" class="fab fa-linkedin border rounded-circle p-3"></i>
        <a class="nav-link d-inline-flex" href="https://www.linkedin.com/in/daryooshhoora/">Daryoosh Hoora</a>
    </div>
    <div class="col ps-5 py-2">
        <i title="Telegram" class="fab fa-telegram border rounded-circle p-3""></i>
        <a class="nav-link d-inline-flex" href="https://t.me/datisone">@@datisONE</a>
    </div>
    <div class="col ps-5 py-2">
        <i title="Twitter" class="fab fa-twitter border rounded-circle p-3""></i>
        <a class="nav-link d-inline-flex" href="https://twitter.com/datisone">@@datisONE</a>
    </div>
    <div class="col ps-5 py-2">
        <i title="Instagram" class="fab fa-instagram border rounded-circle p-3""></i>
        <a class="nav-link d-inline-flex" href="https://www.instagram.com/datisgram/">@@datisGram</a>
    </div>
    <div class="col ps-5 py-2">
        <i title="Facebook" class="fab fa-facebook border rounded-circle p-3""></i>
        <a class="nav-link d-inline-flex" href="https://www.facebook.com/daryoosh.hoora/">daryoosh.hoora</a>
    </div>
</div>
